<div class="card">
  <div class="card-header">Selling</div>
  <div class="card-block">
    <ul class="list">
      <li>
        Price:  {{ deviceSelling()?.price | currency:'EUR':'symbol':'1.2-2' | orElse }}
      </li>
      <li>Buyer:
        <a [routerLink]="['/businesspartners', deviceSelling()?.buyer?.id]">
          {{ deviceSelling()?.buyer?.name | orElse }}
        </a>
      </li>
      <li>Date: {{ deviceSelling()?.date | date:'dd.MM.yyyy' | orElse }}</li>
      <hr>
      <li>Charger included:
        @if (deviceAccessories()?.charger !== null) {
          <cds-icon [shape]="deviceAccessories()?.charger ? 'check': 'close'" role="img"/>
        } @else {
          -
        }
      </li>
      <li>Charging cable included:
        @if (deviceAccessories()?.chargingCable !== null) {
          <cds-icon [shape]="deviceAccessories()?.chargingCable ? 'check': 'close'" role="img"/>
        } @else {
          -
        }
      </li>
      <li>Original packaging included:
        @if (deviceAccessories()?.originalPackaging !== null) {
          <cds-icon [shape]="deviceAccessories()?.originalPackaging ? 'check': 'close'" role="img"/>
        } @else {
          -
        }
      </li>
      <button (click)="modalOpened.set(true)" class="btn btn-link">
        <cds-icon role="img" shape="edit"/>
        Edit
      </button>
      <hr>
      Invoice: <a href="#">Invoice_Franz_Kornthaler.pdf</a>
    </ul>
  </div>
</div>

<clr-modal [(clrModalOpen)]="modalOpened" [clrModalStaticBackdrop]="false" clrModalSize="xl">
  <div class="modal-title">Set selling accessories</div>
  <div class="modal-body">
    <form (ngSubmit)="updateAccessories()" [formGroup]="accessoriesForm" clrForm>
      <clr-checkbox-container>
        <clr-checkbox-wrapper>
          <input clrCheckbox formControlName="charger" type="checkbox"/>
          <label>Charger</label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input clrCheckbox formControlName="chargingCable" type="checkbox"/>
          <label>Charging cable</label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input clrCheckbox formControlName="originalPackaging" type="checkbox"/>
          <label>Original packaging</label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
    </form>
    <div class="modal-footer mt-4">
      <button (click)="modalOpened.set(false)" class="btn btn-outline" type="button">Cancel</button>
      <button (click)="updateAccessories()" [disabled]="accessoriesForm.invalid || isSubmitting()"
              class="btn btn-primary"
              type="submit">
        @if (isSubmitting()) {
          <span class="spinner spinner-inline"></span>
        }
        {{ isSubmitting() ? 'Setting...' : 'Set' }}
      </button>
    </div>
  </div>
</clr-modal>