<h3>#{{ deviceId() }} - {{ deviceBase()?.modelNumber }} | {{ deviceBase()?.model?.name }}</h3>

<div class="clr-row">
  <div class="clr-col-lg-8 clr-col-md-8 clr-col-12">
    <div class="card">
      <div class="card-header">Device</div>
      <div class="card-block">
        <ul class="list">
          <li>Model:
            <a [routerLink]="['/models', deviceBase()?.model?.id]">{{ deviceBase()?.modelNumber }}</a></li>
          <li>Technical Specs: <a [href]=" deviceBase()?.technicalSpecsUrl">
            {{ deviceBase()?.technicalSpecsUrl }}
            <cds-icon role="img" shape="pop-out"></cds-icon>
          </a></li>
          <hr>
          <li>Chip:  {{ deviceBase()?.appleSilicon?.name | orElse }}</li>
          <li>Memory: {{ deviceBase()?.unifiedMemory?.name | orElse }}</li>
          <li>Storage: {{ deviceBase()?.storage?.name | orElse }}</li>
          <li>Color: {{ deviceBase()?.color?.name | orElse }}</li>
          <hr>
          <li>
            Status:
            <clr-label>{{ deviceBase()?.status?.name }}</clr-label>
          </li>
          <hr>
          <li>Serial Number: {{ deviceBase()?.serialNumber | orElse }}</li>
          <li>
            Battery:
            {{ deviceBase()?.batteryMaximumCapacity | orElse }} %
            /
            {{ deviceBase()?.batteryCycleCount |orElse }}
            cycles
          </li>
          <li>Battery status:
            <clr-label>{{ deviceBase()?.batteryStatus?.name | orElse }}</clr-label>
          </li>
          <hr>
          <li>Grade:
            <clr-label>{{ deviceBase()?.grade?.name | orElse }}</clr-label>
          </li>
        </ul>
      </div>
      <div class="card-block">
        Tags:
        @for (tag of deviceTags(); track tag.id) {
          <clr-label [clrClickable]="true">
            {{ tag.name }}
            <cds-icon shape="close"></cds-icon>
          </clr-label>
        } @empty {
          -
        }
      </div>
    </div>
    <div class="card">
      <div class="card-header">Buying</div>
      <div class="card-block">
        <ul class="list">
          <li>Date: {{ deviceBuying()?.date | date:'dd.MM.yyyy' }}</li>
          <li>
            Price: {{ deviceBuying()?.price | currency:'EUR':'symbol':'1.2-2' }}
          </li>
          <li>URL:
            <a [href]="deviceBuying()?.url" target="_blank">{{ deviceBuying()?.url }}
              <cds-icon role="img" shape="pop-out"></cds-icon>
            </a>
          </li>
          <hr>
          <li>Seller:
            <a [routerLink]="['/businesspartners', deviceBuying()?.seller?.id]">
              {{ deviceBuying()?.seller?.name }}
            </a>
          </li>
          <hr>
          Invoice: <a href="#">Invoice_Tobias_Ecke.pdf</a>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-header">Repair</div>
      <div class="card-block">
        <ul class="list">
          <li>
            <div class="underline">Original defect:</div>
            {{ deviceDefects()?.reportedDefect | orElse }}
          </li>
          <li class="mt-5">
            <div class="underline">Real defect:</div>
            {{ deviceDefects()?.diagnosedDefect | orElse }}
          </li>
        </ul>
        <h5>Spare Parts</h5>
        <clr-datagrid>
          <clr-dg-column>Name</clr-dg-column>
          <clr-dg-column>Price (Netto)</clr-dg-column>
          <clr-dg-row *clrDgItems="let sparePart of deviceSpareParts()">
            <clr-dg-cell>
              {{ sparePart.name }}
            </clr-dg-cell>
            <clr-dg-cell>{{ sparePart.priceNetto | currency:'EUR':'symbol':'1.2-2' }}</clr-dg-cell>
          </clr-dg-row>
          <clr-dg-footer>Sum: {{ totalSparePartsCost() | currency:'EUR':'symbol':'1.2-2' }}</clr-dg-footer>
        </clr-datagrid>
      </div>
    </div>
    <div class="card">
      <div class="card-header">Selling</div>
      <div class="card-block">
        <ul class="list">
          <li>
            Price:  {{ deviceSelling()?.price | currency:'EUR':'symbol':'1.2-2' | orElse }}
          </li>
          <li>Buyer:
            <a [routerLink]="['/businesspartners', deviceSelling()?.buyer?.id]">
              {{ deviceSelling()?.buyer?.name | orElse }}
            </a>
          </li>
          <li>Date: {{ deviceSelling()?.date | date:'dd.MM.yyyy' | orElse }}</li>
          <hr>
          <li>Charger included:
            <cds-icon role="img" shape="check"></cds-icon>
          </li>
          <li>Cable included:
            <cds-icon role="img" shape="check"></cds-icon>
          </li>
          <li>OVP included:
            <cds-icon role="img" shape="check"></cds-icon>
          </li>
          <hr>
          Invoice: <a href="#">Invoice_Franz_Kornthaler.pdf</a>
        </ul>
      </div>
    </div>
    <app-notes [deviceId]="deviceId()"></app-notes>
    <div class="card">
      <div class="card-header">Activity Log</div>
      <div class="card-block">
        <table class="table">
          <thead>
          <tr>
            <th class="left">Action</th>
            <th class="left">Description</th>
            <th class="right">Date</th>
          </tr>
          </thead>
          <tbody>
            @for (activity of deviceActivities(); track activity.id) {
              <tr>
                <td class="left">{{ activity.name }}</td>
                <td class="left">{{ activity.description }}</td>
                <td class="right">{{ activity.date | date:'dd.MM.yyyy HH:mm:ss' }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>