### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Gradle ###
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

# System files
.DS_Store
Thumbs.db