<h5>Technical details</h5>

<ul>
  <li>Build Date: {{ buildInfo.date  | date:'MMM d, y, HH:mm:ss' }}</li>
  <li>Branch: {{ buildInfo.branch }}</li>
  <li>Commit: {{ buildInfo.commit }}</li>
</ul>
<hr>
<ul>
  <li>Locale: {{ currentLocale }}</li>
</ul>
<hr>
<ul>
  <li>Angular version: {{ angularVersion }}</li>
</ul>

<h5>User info</h5>
<pre>{{ userData() | json }}</pre>

<h5>Environment</h5>
<pre>{{ environment | json }}</pre>

<div class="mt-2">
  GitHub:
  <a href="https://github.com/fafeichter/ReparierenStattWegwerfen-BackOffice" target="_blank">
    https://github.com/fafeichter/ReparierenStattWegwerfen-BackOffice
  </a>
</div>