@if (businessPartner(); as businessPartner) {
  <div class="clr-row">
    <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
      <div class="card">
        <div [class.scammer-header]="businessPartner.scammer" class="card-header">
          {{ businessPartner.name }}
          @if (businessPartner.scammer) {
            <clr-label clrColor="danger" clrText="Scammer!" clrType="solid"></clr-label>
          }
        </div>
        <div class="card-block">
          <div class="card-title">Address</div>
          <div class="card-text">
            {{ businessPartner.address?.street | orElse }} {{ businessPartner.address?.houseNumber  | orElse }}<br>
            {{ businessPartner.address?.zipCode  | orElse }} {{ businessPartner.address?.city  | orElse }}<br>
            {{ businessPartner.address?.country  | orElse }}
          </div>
          <form #formRef (ngSubmit)="updateAddress()" [formGroup]="form" clrForm clrLayout="vertical">
            <clr-file-input-container clrButtonLabel="Browse">
              <label>Set address from image</label>
              <input (change)="formRef.requestSubmit()" accept="image/*" capture="environment"
                     clrFileInput formControlName="shippingLabelImage" multiple name="file"
                     required type="file"/>
              <clr-control-helper>Photo of shipping label</clr-control-helper>
              <clr-control-error *clrIfError="'required'">Required</clr-control-error>
            </clr-file-input-container>
          </form>
        </div>
        <div class="card-block">
          <div class="card-title">Company</div>
          <div class="card-text">
            <ul class="list">
              <li>Name: {{ businessPartner.companyName | orElse }}</li>
              <li>UID: {{ businessPartner.companyUid | orElse }}</li>
            </ul>
          </div>
        </div>
        <div class="card-block">
          <div class="card-title">Contact</div>
          <div class="card-text">
            <ul class="list">
              <li>E-Mail: {{ businessPartner.email | orElse }}</li>
              <li>Telephone: {{ businessPartner.telephone | orElse }}</li>
            </ul>
          </div>
        </div>
        <div class="card-block">
          <div class="card-title">Devices</div>
          <div class="card-text">
            <div>
              <h5>Seller</h5>
              <ul>
                @for (businessPartnerDevice of businessPartnerDevices()?.soldDevices; track businessPartnerDevice.id) {
                  <li>
                    <a [routerLink]="['/devices', businessPartnerDevice.id]">
                      {{ businessPartnerDevice.name }}
                    </a>
                  </li>
                } @empty {
                  -
                }
              </ul>
            </div>
            <div class="mt-2">
              <h5>Buyer</h5>
              <ul>
                @for (businessPartnerDevice of businessPartnerDevices()?.boughtDevices; track businessPartnerDevice.id) {
                  <li>
                    <a [routerLink]="['/devices', businessPartnerDevice.id]">
                      {{ businessPartnerDevice.name }}
                    </a>
                  </li>
                } @empty {
                  -
                }
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}