<clr-vertical-nav [clrVerticalNavCollapsed]="isMobile()" [clrVerticalNavCollapsible]="true">
  <a [routerLink]="['/dashboard']" clrVerticalNavLink routerLinkActive="active">
    <cds-icon clrVerticalNavIcon shape="home"/>
    Dashboard
  </a>
  <div class="nav-divider"></div>
  <a [routerLink]="['/devices']" clrVerticalNavLink routerLinkActive="active">
    <cds-icon clrVerticalNavIcon shape="computer"/>
    Devices
  </a>
  <div class="nav-divider"></div>
  <a [routerLink]="['/businesspartners']" clrVerticalNavLink routerLinkActive="active">
    <cds-icon clrVerticalNavIcon shape="user"/>
    Business Partners
  </a>
  <a [queryParams]="{ type: 'macbook' }" [routerLink]="['/models']" clrVerticalNavLink routerLinkActive="active">
    <cds-icon clrVerticalNavIcon shape="pod"/>
    Models
  </a>
  <div class="nav-divider"></div>
  <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="true" routerLinkActive="active">
    <cds-icon clrVerticalNavIcon shape="analytics"/>
    Accounting
    <clr-vertical-nav-group-children>
      <a [routerLink]="['/normal/pidgey']" clrVerticalNavLink routerLinkActive="active">Invoices</a>
      <a [routerLink]="['/normal/pidgey']" clrVerticalNavLink routerLinkActive="active">Sales</a>
      <a [routerLink]="['/normal/pidgey']" clrVerticalNavLink routerLinkActive="active">Taxes</a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>
</clr-vertical-nav>