<div class="card">
  <div class="card-header">Device</div>
  <div class="card-block">
    <ul class="list">
      <li>Model:
        <a [routerLink]="['/models', deviceBase()?.model?.id]">{{ deviceBase()?.modelNumber }}</a></li>
      <li>Technical Specs: <a [href]=" deviceBase()?.technicalSpecsUrl">
        {{ deviceBase()?.technicalSpecsUrl }}
        <cds-icon role="img" shape="pop-out"/>
      </a></li>
      <hr>
      @if (!hardwareConfigEditModeActive()) {
        <li>Chip:  {{ deviceBase()?.appleSilicon?.name | orElse }}</li>
        <li>Memory: {{ deviceBase()?.unifiedMemory?.name | orElse }}</li>
        <li>Storage: {{ deviceBase()?.storage?.name | orElse }}</li>
        <li>Color: {{ deviceBase()?.color?.name | orElse }}</li>
        <button (click)="activateHardwareConfigEditMode()" class="btn btn-link">
          <cds-icon role="img" shape="edit"/>
          Edit
        </button>
        <hr>
      } @else {
        <form (ngSubmit)="changeHardwareConfig()" [formGroup]="hardwareConfigForm" clrForm>
          <clr-select-container>
            <label>Chip</label>
            <select (change)="loadMemoryOptions($event)" clrSelect formControlName="newAppleSiliconId">
              @for (appleSilicon of modelAppleSilicons(); track appleSilicon.id) {
                <option [value]="appleSilicon.id">{{ appleSilicon.name }}</option>
              }
            </select>
          </clr-select-container>
          <clr-select-container>
            <label>Memory</label>
            <select (change)="loadStorageOptions()" clrSelect formControlName="newMemoryId">
              @for (memory of modelMemories(); track memory.id) {
                <option [value]="memory.id">{{ memory.name }}</option>
              }
            </select>
          </clr-select-container>
          <clr-select-container>
            <label>Storage</label>
            <select clrSelect formControlName="newStorageId">
              @for (storage of modelStorages(); track storage.id) {
                <option [value]="storage.id">{{ storage.name }}</option>
              }
            </select>
          </clr-select-container>
          <clr-select-container>
            <label>Color</label>
            <select clrSelect formControlName="newColorId">
              @for (color of modelColors(); track color.id) {
                <option [value]="color.id">{{ color.name }}</option>
              }
            </select>
          </clr-select-container>
          <button (click)="hardwareConfigEditModeActive.set(false)" class="btn btn-link" type="button">
            <cds-icon role="img" shape="close"/>
            Cancel
          </button>
          <button [disabled]="hardwareConfigForm.invalid" class="btn btn-link ml-1!" type="submit">
            <cds-icon role="img" shape="check"/>
            Save
          </button>
        </form>
      }
      <li>
        Status:
        @if (!statusEditModeActive()) {
          <clr-label>{{ deviceBase()?.status?.name }}</clr-label>
          <button (click)="activateStatusEditMode()" class="btn btn-link">
            <cds-icon role="img" shape="edit"/>
            Edit
          </button>
        } @else {
          <form #statusFormRef (ngSubmit)="changeStatus()" [formGroup]="statusForm" clrForm>
            <select (change)="statusFormRef.requestSubmit()" formControlName="newStatusId">
              @for (deviceStatus of deviceStatus(); track deviceStatus.id; let i = $index) {
                @if (i == 6) {
                  <hr>
                }
                <option [value]="deviceStatus.id">{{ deviceStatus.name }}</option>
              }
            </select>
            <button (click)="statusEditModeActive.set(false)" class="btn btn-link" type="button">
              <cds-icon role="img" shape="close"/>
              Cancel
            </button>
          </form>
        }
      </li>
      <hr>
      <li>Serial Number:
        @if (!serialNumberEditModeActive()) {
          {{ deviceBase()?.serialNumber | orElse }}
          <button (click)="activateSerialNumberEditMode()" class="btn btn-link">
            <cds-icon role="img" shape="edit"/>
            Edit
          </button>
        } @else {
          <form (ngSubmit)="changeSerialNumber()" [formGroup]="serialNumberForm" clrForm>
            <clr-input-container>
              <input autofocus clrInput formControlName="newSerialNumber" type="text">
            </clr-input-container>
            <button (click)="serialNumberEditModeActive.set(false)" class="btn btn-link" type="button">
              <cds-icon role="img" shape="close"/>
              Cancel
            </button>
            <button [disabled]="serialNumberForm.invalid" class="btn btn-link ml-1!" type="submit">
              <cds-icon role="img" shape="check"/>
              Save
            </button>
          </form>
        }
      </li>
      <li>
        Battery:
        @if (!batteryEditModeActive()) {
          {{ deviceBase()?.batteryMaximumCapacity | orElse }} %
            /
          {{ deviceBase()?.batteryCycleCount |orElse }}
          cycles
          <button (click)="activateBatteryEditMode()" class="btn btn-link">
            <cds-icon role="img" shape="edit"/>
            Edit
          </button>
        } @else {
          <form (ngSubmit)="changeBattery()" [formGroup]="batteryForm" clrForm>
            <clr-input-container>
              <input clrInput formControlName="newMaximumCapacity"/>
              <div clrInputSuffix>%</div>
            </clr-input-container>
            <clr-input-container>
              <input clrInput formControlName="newCycleCount"/>
              <div clrInputSuffix>cycles</div>
            </clr-input-container>
            <button (click)="batteryEditModeActive.set(false)" class="btn btn-link" type="button">
              <cds-icon role="img" shape="close"/>
              Cancel
            </button>
            <button [disabled]="batteryForm.invalid" class="btn btn-link" type="submit">
              <cds-icon role="img" shape="check"/>
              Save
            </button>
          </form>
        }
      </li>
      <li>Battery status:
        @if (!batteryStatusEditModeActive()) {
          <clr-label>{{ deviceBase()?.batteryStatus?.name | orElse }}</clr-label>
          <button (click)="activateBatteryStatusEditMode()" class="btn btn-link">
            <cds-icon role="img" shape="edit"/>
            Edit
          </button>
        } @else {
          <form #batteryStatusFormRef (ngSubmit)="changeBatteryStatus()" [formGroup]="batteryStatusForm" clrForm>
            <select (change)="batteryStatusFormRef.requestSubmit()" formControlName="newBatteryStatusId">
              <option disabled selected value="null">-- Choose --</option>
              @for (deviceBatteryStatus of deviceBatteryStatus(); track deviceBatteryStatus.id) {
                <option [value]="deviceBatteryStatus.id">{{ deviceBatteryStatus.name }}</option>
              }
            </select>
            <button (click)="batteryStatusEditModeActive.set(false)" class="btn btn-link" type="button">
              <cds-icon role="img" shape="close"/>
              Cancel
            </button>
          </form>
        }
      </li>
      <hr>
      <li>Grade:
        @if (!gradeEditModeActive()) {
          <clr-label>{{ deviceBase()?.grade?.name | orElse }}</clr-label>
          <button (click)="activateGradeEditMode()" class="btn btn-link">
            <cds-icon role="img" shape="edit"/>
            Edit
          </button>
        } @else {
          <form #gradeFormRef (ngSubmit)="changeGrade()" [formGroup]="gradeForm" clrForm>
            <select (change)="gradeFormRef.requestSubmit()" formControlName="newGradeId">
              <option disabled selected value="null">-- Choose --</option>
              @for (deviceGrade of deviceGrades(); track deviceGrade.id) {
                <option [value]="deviceGrade.id">{{ deviceGrade.name }}</option>
              }
            </select>
            <button (click)="gradeEditModeActive.set(false)" class="btn btn-link" type="button">
              <cds-icon role="img" shape="close"/>
              Cancel
            </button>
          </form>
        }
      </li>
    </ul>
  </div>
  <div class="card-block">
    Tags:
    @for (tag of deviceBase()?.tags; track tag.id) {
      <clr-label>
        {{ tag.name }}
        <cds-icon (click)="deleteTag(tag.id)" shape="close"/>
      </clr-label>
    } @empty {
      -
    }
    <button (click)="activateTagEditMode()" class="btn btn-link">
      <cds-icon role="img" shape="plus"/>
      Add
    </button>
    @if (tagEditModeActive()) {
      <form #tagFormRef (ngSubmit)="addTag()" [formGroup]="tagForm" clrForm>
        <select (change)="tagFormRef.requestSubmit()" formControlName="newTagId">
          <option disabled selected value="null">-- Choose --</option>
          @for (deviceTag of deviceTags(); track deviceTag.id) {
            <option [value]="deviceTag.id">{{ deviceTag.name }}</option>
          }
        </select>
        <button (click)="tagEditModeActive.set(false)" class="btn btn-link" type="button">
          <cds-icon role="img" shape="close"/>
          Cancel
        </button>
      </form>
    }
  </div>
</div>